.bet-container{
    height: 250px;
    width: max-content;
    min-width: 230px;
    background-color: #403F4C;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 15px 15px 0 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.bet-matchup-title{

}

.bet-odds-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.bet-odds-matchup-container{
    display: flex;
    flex-direction: row;
    flex: 1 1;
}

.bet-odds-team{
    display: flex;
    flex-direction: column;
    font-size: small;
    width: 50%;
    text-align: center;
    
}

.bet-odds-team-name{

}

.bet-odds{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100px;
    height: 40px;
    /* background-color: bisque; */
    border-radius: 10px;
    border: 1px solid black;
    margin: auto;
}

.wager-payout-title{
    padding: 15px 0 5px 0;
}

.betting_for_team{
    font-weight: bolder;
    font-size: 1.2rem;
}

.display_bet_result{
    text-align: center;
}