.matchup-container{
    background-color: #403F4C;
    height: 100%;
    width: 100%;
    margin: 0px 10px 0px 10px;
    padding: 30px;
    -webkit-box-shadow: 1px 6px 16px 0px #000000; 
    box-shadow: 1px 6px 16px 0px #000000;
    border-radius: 15px;

}

.matchup-bet-header-container{
    
}

.bet-header-contents{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: normal;
    align-content: normal;
}

.header-sports-title{
    display: block;
    width: 300px;
    text-align: center;
}

.header-bet-types{
    display: flex;
    
}

.bet-header-container{
    display: flex;
    text-align: center;
}

.bet-header{
    padding: 0 50px 0 50px;
    display: "flex";
    flex-direction: "column";
    
}

.loading_spinner{
    width: 6rem;
    height: 6rem;
}

.fetching_indicator{
    font-size: 30px;
}